.table_02{
    padding: 2%;
    /* color:"red"; */
    /* box-shadow: 2px 4px 4px 4px rgba(74, 74, 78, 0.2); */
    background-color: rgb(255, 255, 255);
    overflow: auto;
    margin-top: 2%;
    font-weight: bold;
    
}
.Input{
margin: 20px;
border: 1px;
}
.table_01 thead th{
    font-size: 1.3rem;
    /* align-items: center;
    padding-left: 6.5rem; */
}

/* .table_01 td{
    font-size: 1rem;
    font-weight: 500;
} */