.table_01{
    padding: 3%;
    color:"red";
    /* box-shadow: 2px 4px 4px 4px rgba(74, 74, 78, 0.2); */
    background-color: rgb(255, 255, 255);
    overflow: auto;
    margin-top: 50px;
}
.Input{
margin: 20px;
border: 1px;
}
.table_01 thead th{
    font-weight: 300;
    /* font-size: 1rem; */
    align-content: center;
    /* padding-left: 6%; */
    
    
}
tbody tr td{
    font-weight: 500;
}
.table_01 td{
    font-size: .9rem;
    /* font-weight: 500; */
}
thead tr th{
    text-align: center;
}

thead,tbody,tr,th,td{
    border: 1px solid #e0e0e0;
}